<div class="reviews">

  <div *ngFor="let review of reviews" class="review">
    <div class="line margin"></div>

    <div class="review margin">
      <div>
        <img src="{{ review.image }}" alt="" style="width: 32px; height: 32px; border-radius: 20px;">
        <div style="display: inline-block;vertical-align: top;margin: 8px;">{{ review.user }}</div>
      </div>
      <div class="margin">
        <p>{{ review.text }}</p>
        <p style="color: grey;">{{ review.created_at }}</p>
      </div>
    </div>
  </div>

</div>
