<div id="footer" class="footer">
  <div class="flexbox" style="margin-top: 25px;">
    <div class="col-20 footer-offset">
      <ul class="footer-list">
        <li class="footer-list-item footer-list-header">Categories</li>
        <a href="/category/1"><li class="footer-list-item">Instrument Lessons</li></a>
        <a href="/category/2"><li class="footer-list-item">Record Soundtrack</li></a>
        <a href="/category/3"><li class="footer-list-item">Music Transcriptions</li></a>
        <a href="/category/4"><li class="footer-list-item">Musical video</li></a>
        <a href="/category/5"><li class="footer-list-item">DJ Mixing</li></a>
        <a href="/category/6"><li class="footer-list-item">Beat Making</li></a>
      </ul>
    </div>
    <div class="col-20">
      <div class="footer-logos" style="margin: auto;">
        <a href="/"><img src="assets/images/logo.png" style="max-width: 200px;" alt="Music World - Logo"></a>
        <a href="/"><img src="assets/images/logo-text.png" style="max-width: 200px;" alt="Music World - Logo text"></a>
      </div>
    </div>
    <div class="col-20 footer-offset-2">
      <ul class="footer-list">
        <li class="footer-list-item footer-list-header">About</li>
        <a href="/#general-information"><li class="footer-list-item">General information</li></a>
        <a href="/#about-us"><li class="footer-list-item">About us</li></a>
        <a href="/#reviews"><li class="footer-list-item">Reviews & Comments</li></a>
        <a href="/privacy-policy"><li class="footer-list-item">Privacy Policy</li></a>
        <a href="/terms-of-service"><li class="footer-list-item">Terms of Service</li></a>
      </ul>
    </div>
  </div>

  <div class="flexbox" style="margin-top: 25px;">
    <div class="col-60 display-flex-resp">
      <div class="footer-logo col-50" style="max-width: fit-content;">
        <a href="/"><img src="assets/images/logo-text.png" style="max-width: 200px;" alt="Music World - Logo text"></a>
      </div>
      <div class="footer-rights col-50" style="height: 100%; padding: 15px 5px;">
        Music World 2022 | All rights reserved
      </div>
    </div>
    <div class="col-40">
      <div class="float-right-resp">
        <ul class="footer-inline-list">
          <li class="footer-inline-list-item">
            <a href="">
              <img src="assets/images/social/linkedin.png" class="social-logo" alt="Linkedin">
            </a>
          </li>
          <li class="footer-inline-list-item">
            <a href="">
              <img src="assets/images/social/instagram.png" class="social-logo" alt="Instagram">
            </a>
          </li>
          <li class="footer-inline-list-item">
            <a href="">
              <img src="assets/images/social/facebook.png" class="social-logo" alt="Facebook">
            </a>
          </li>
          <li class="footer-inline-list-item">
            <a href="">
              <img src="assets/images/social/twitter.png" class="social-logo" alt="Twitter">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
