.gigCreator{
    display: flex;
}

.gigInfoIntro{
    width: 40%;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 40px;
    height: 550px;
    background-color: #fff;
    border: 1px solid rgb(211,211,211);
    border-radius: 3px;
    min-width: 650px;

}


.gigInfoIntroSS{
    width: 100%;
    margin-right: 10px;
    
    
    height: 550px;
    background-color: #fff;
    border: 1px solid rgb(211,211,211);
    border-radius: 3px;
    

}

.howToGig{
    width: 250px;
    margin-left: 5px;
    
    margin-top: 40px;
    height: 400px;
    background-color: #fff;
    border: 1px solid rgb(211,211,211);
    border-radius: 3px;
    min-width: 200px;

}


.howToGigTitle p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.howToGigImage{
    margin: 10px;
    width: 200px;
    height: 100px;
}
.howToGigImage img{
    margin-left: 30px;
}

.howToGigText p{
    margin-left: 20px;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(139, 130, 130);
    
}


.titleIntro{
    display: flex;
    
}

.titleIntroSS{
    display: flex;
    
}

.titleIntro p{
    margin-top: 30px;
    margin-left: 60px;
}

.titleIntroSS p{
    margin-top: 30px;
    margin-left: 30px;
}
.gigTitleType input{
    font-size: larger;
    margin-top: 30px;
    margin-left: 20px;
    width: 450px;
    height: 90px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.gigTitleTypeSS input{
    font-size: larger;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    width: 250px;
    height: 90px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.categoryIntro{
    display: flex;
    
}
.categoryIntroSS{
    display: flex;
    
}

.categoryIntro p{
    margin-top: 30px;
    margin-left: 45px;

}

.categoryIntroSS p{
    margin-top: 30px;
    margin-left: 25px;

}

.gigCategoryType{
    display: flex;
}

.gigCategoryTypeSS{
    display: flex;
    margin-left: 19px;
}
.gigCategoryType input{
    
    
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
    height: 30px;
    
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.gigCategoryTypeSS input{
    
    
    margin-top: 30px;
    margin-left: 20px;
    width: 114px;
    height: 30px;
    
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.tagsIntro{
    display: flex;
    
}
.tagsIntroSS{
    display: flex;
    
}



.tagsIntro p{
    margin-top: 30px;
    margin-left: 25px;

}

.tagsIntroSS p{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 4px;

}
.gigTagsType input{
    
    margin-top: 40px;
    margin-left: 20px;
    width: 450px;
    height: 60px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.gigTagsTypeSS input{
    
    margin-top: 40px;
    margin-left: 0px;
    width: 250px;
    height: 60px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.descIntro{
    display: flex;
    
}

.descIntroSS{
    display: flex;
    
}

.descIntro p{
    margin-top: 30px;
    margin-left: 30px;

}

.descIntroSS p{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;

}
.gigDescType input{
    
    margin-top: 40px;
    margin-left: 20px;
    width: 450px;
    height: 180px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.gigDescTypeSS input{
    
    margin-top: 40px;
    margin-left: 20px;
    width: 250px;
    height: 180px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}


.linksCreateGig a{
    
    
    border: none;
    background-color: #fff;
    color: rgb(22, 18, 236);
    font-size: 15px;
}


.linksCreateGigSS a{
    
    
    border: none;
    background-color: #fff;
    color: rgb(22, 18, 236);
    font-size: 15px;
}

.Gallery{
    margin-left: 500px;

}

.GallerySS{
    margin-left: 300px;

}

.LinkVideo{
    margin-left: 340px;
    display: none;



}

.LinkVideoSS{
    margin-left: 300px;



}

.createBtn{
    margin-top: 10px;
    margin-left: 600px;
    border: none;
    color: #fff;
    background-color: rgb(22, 18, 236);
    font-size: 15px;
    border-radius: 3px;
}

.createBtnSS{
    margin-top: 10px;
    margin-left: 300px;
    border: none;
    color: #fff;
    background-color: rgb(22, 18, 236);
    font-size: 15px;
    border-radius: 3px;
}

@media screen and (max-width: 60em){

    
    .howToGig{
        display: none;
    }

    .LinkVideo{
        display: block;
    }





}


@media screen and (max-width: 40em){



    .gigInfoIntro{
        width: 100%;
        margin-left: default;
        margin-right: 10px;
        margin-top: default;
        height: 550px;
        background-color: #fff;
        border: 1px solid rgb(211,211,211);
        border-radius: 3px;
        min-width: 0px;
    
    }

    .titleIntro p{
        margin-top: 30px;
        margin-left: 30px;
    }

    .gigTitleType input{
        font-size: larger;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 30px;
        width: 250px;
        height: 90px;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
    }

    .categoryIntro p{
        margin-top: 30px;
        margin-left: 25px;
    
    }

    .gigCategoryType{
        margin-left: 19px;
    }

    .gigCategoryType input{
        width: 114px;
    }

    .tagsIntro p{
        margin-left: 10px;
        margin-right: 4px;
    }

    .gigTagsType input{
        width: 250px;
    }

    .descIntro{
        margin-left:10px;
        margin-right:20px;
    }

    .gigDescType input{
        width: 250px;;
    }

    .Gallery{
        margin-left: 300px;
    }

    .LinkVideo{
        margin-left: 300px;
    }

    .createBtn{
        margin-left: 300px;
    }
}
