<div class="container">
     
    <div class="gigCreator">
        <div class="gigInfoIntro">
            <div class="titleIntro">
                <p>GIG TITLE</p>
                <div class="gigTitleType">
                    <input type="text" class="new-message-input" placeholder="I WILL">
                </div>
            </div>
            <div class="categoryIntro">
                <p>CATEGORY</p>
                <div class="gigCategoryType">
                    <input type="text" class="new-message-input" placeholder="SELECT A CATEGORY">
                    <input type="text" class="new-message-input" placeholder="SELECT A SUBCATEGORY">
                </div>
            </div>

            <div class="tagsIntro">
                <p>SEARCH TAGS</p>
                <div class="gigTagsType">
                    <input type="text" >
                </div>
            </div>
            <div class="descIntro">
                <p>DESCRIPTION</p>
                <div class="gigDescType">
                    <input type="text" >
                </div>
            </div>
            <div class="linksCreateGig">
                <a class= "LinkVideo" href="">VideoExplanation</a>
                
                <a class= "Gallery" href="">ADD PHOTOS</a>
            </div>


        </div>
        
        <div class="howToGig">
            <div class="howToGigTitle">
                <p>Start Defining Your Gig</p>

            </div>
            <div class="howToGigImage">
                <a href="">
                    <img src="assets/images/videoGig.png" alt="gigVideo">

                </a>
                


            </div>
            
            <div class="howToGigText">
                <p>Create a catchy title.</p>
                <p>Choose a category that fits your Gig.</p>
                <p>Add meta data to help buyers find more information regarding your gigs.</p>
                <p>Add tags to help buyers find your Gig while searching.</p>

            </div>
            

        </div>

        

    </div>
    <button class="createBtn"> Create Gig </button>
</div>
