.responsive-table{
	overflow-x: auto;
}

/* > 640 px */
@media screen and (min-width: 40em ) {
	.flexbox{
		display: flex;
		flex-direction: row;
	}

	.col-20{
		width: 20%;
	}

	.col-30{
		width: 30%;
	}

	.col-2-30{
		width: 30%;
	}

	.col-40{
		width: 40%;
	}

	.col-2-50{
		width: 50%;
	}

	.col-50{
		width: 50%;
	}

	.col-60{
		width: 60%;
	}

	.col-70{
		width: 70%;
	}

	.footer-offset{
		margin-left: 20%;
	}

	.footer-offset-2{
		margin-left: 10%;
	}

	.float-right-resp{
		float: right;
	}

	.table-image{
		width: 100%;
    	padding: 1vw;
	}

	.table-image-wrapper{
		padding: 0 !important;
		width: 16%;
	}

	.fixed-resp{
		position: fixed;
	}

	.recommended{
		white-space: nowrap;
	}

	.display-flex-resp{
		display: flex;
	}
}


/* < 640 px */
@media screen and (max-width: 60em ) {
	.fixed-resp{
		position: static !important;
	}

	.col-2-30, .col-2-50{
		width: 100%;
	}

	.table-image-wrapper{
		width: 100%;
	}
}


/* < 640 px */
@media screen and (max-width: 40em ) {
	.flexbox{
		display: flex;
		flex-direction: column;
	}

	.col-20, .col-30, .col-40, .col-50, .col-60, .col-70{
		width: 100%;
		text-align: center;
	}

	.tables-links .table-link{
		display: block;
	}

	.table-image{
		width: 100%;
	}

	.table-image-wrapper{
		width: 100%;
	}

	.table-image-wrapper{
		padding: 0 !important;
	}

	.fixed-resp{
		position: static !important;
	}

	.gig-navbar .gig-navbar-link{
		width: 100%;
		display: block;
		text-align: center;
		margin: 0;
	}

	.footer-logo{
		width: 100%;
	}
	.footer-rights{
		width: 100%;
	}
}